*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.titulo
{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    animation: titulo 2s ease-in-out;
}

p 
{
    font-size: $tamaño-letra;
}

.redes
{
    font-size: $tamoño-general;
    margin-top: 20px;
    margin-left: $marginleft;
}


.ing 
{
    color: $color-gris;
    font-size: $tamaño-general;
    margin: 5px;
    padding: $tamaño-imagen;
}

.fbo 
{
    margin: 5px;
    padding: $tamaño-imagen;

}


body 
{
    background-image: linear-gradient(to bottom, gray, black);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 
{
    text-align: center;
}

.fb
{
    margin: 5px;
    width: 250px;
    height: 250px;
    background-color: $color-negro;
    padding: $tamaño-imagen;
    border-radius: 150px;
    box-shadow: 100px 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    animation: moviendoimagen 2s 1;
}

.ig 
{
    margin: 5px;
    width: 250px;
    height: 250px;
    background-color: $color-negro;
    padding: $tamaño-imagen;
    border-radius: 100px;
    box-shadow: 100px 10px 10px rgba(119, 114, 114, 0.2);
    margin-bottom: 20px;
    animation: moviendoimagen 2s 1;

}

.der 
{
    margin: $margin;
    padding-left: $paddingleft;
}

.izq
{
    margin: $margin;
    padding-left: $paddingleft;
}

html 
{
    scroll-behavior: smooth;
}

.logofiglio
{
    width: 90px;

}

nav
{
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

nav ul
{
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

nav ul li 
{
    margin-right: 15px;
}

nav ul li a 
{
    padding: 10px;
    border-radius: 20px;
}

nav ul li a:hover 
{
    background-color: #444;
}

.foot 
{
    color: $color-blanco;
    text-align: center;
    padding: 10px;
    font-size: $tamaño-general;
}

@media screen and (max-width: 768px)
{
    img 
    {
        width: 200px;
        height: 200px;
    }    

    .logofiglio
    {
        width: 50px;
        height: 50px;
    }

    .ig
    {
        width: 100px;
        height: 100px;
        box-shadow: 50px 5px 5px rgba(119, 114, 114, 0.2);
    }

    .fb
    {
        width: 100px;
        height: 100px;
        box-shadow: 50px 5px 5px rgba(0, 0, 0, 0.2);
    }
}

@keyframes moviendoimagen
{
    0% 
    {
        transform: translateX(-500px);
    }
    100% 
    {
        transform: translateX(0px);
    }   
}

@keyframes titulo
{
    0% 
    {
        color: gray;
        font-size: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    75%
    {
        color: gray;
    }

    100% 
    {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }   
}
